-require "log_parse"
-@title = "Grep: All servers"
%h1 
  Grep:
  %a{:href => "/browse"} All Servers
%p 
  %a{:href => "/browse/"} Back to listing
=haml(:grep_form, :layout => false)
=haml(:grep_results, :layout => false)