-require "log_parse"
-@title = "Grep: #{@server.name}"
%h1 
  Grep:
  %a{:href => "/browse"} All Servers
  \>
  %a{:href => "/browse/#{escape @server.name}"}=@server.name
%p 
  %a{:href => "/browse/#{escape @server.name}"} Back to listing
=haml(:grep_form, :layout => false)
=erb(:grep_results, :layout => false, :locals => {:results => @results})