.log-contents{
  font-family: monospace;
}

.log-contents .highlight{
    background-color: yellow;
}

.log-contents .join_part_quit_line{
    color: gray;
}

.log-contents .nick_change_line{
    color: gray;
}


.log-contents .nick_change_line .line-body{
    font-style: italic;
}


.log-contents .nick_change_line .new_nick,.old_nick{
    font-style: normal;
}

.log-contents .action_line .line-body{
    font-style: italic;
}

.log-contents .line-nick {
    font-weight: bold;
} 

.log-contents div:hover{
    background-color: #eee;
}

.grep-results .grep{
  background-color: lightblue;
}